@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --mauve: #E3E6F3;
    --green: #088178;
    --charcoal: #1a1a1a;
    --ebony: #222;
    --kaki: #465b52;
    --grey: #606063;
    --smokyblue: #818ea0;
    --pastelmint: #cce7d0;
    --palepink: #fddde4;
    --palegreen: #cdebbc;
    --paleblue: #d1e8f2;
    --palenavy: #cdd4f8;
    --palepurple: #f6dbf6;
    --paleorange: #fff2e5;
    --cart-bg: #e8f6ea;
    --tomato: #ef3636;
    --coral: #ec544e;
    --navy: #041e42;
    --honey: #ffbd27;
    }


/* CSS RESET */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}


/* GLOBAL SETTINGS */

html{
    scroll-behavior: smooth;
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}


h1 {
    font-size: 5.0rem;
    line-height: 6.4rem;
    font-weight: 700;
    color: var(--green);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    font-weight: 700;
    color: var(--ebony);
}

h4 {
    font-size: 2.0rem;
    font-weight: 700;
    color: var(--ebony);
}

h5 {
    font-size: 1.4rem;
    color: var(--charcoal);
    font-weight: 700;
}

h6 {
    font-weight: 700;
    font-size: 1.2rem;
}

button.normal {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover {
    background-color: var(--green);
    color: white;
}

button.white {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

p.subtitle {
    font-size: 1.6rem;
    color: var(--kaki);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0px;
}




/* HEADER */

header {
    padding: 0 80px;
    height: 8vh;
    background-color: var(--mauve);
    box-shadow: 0px 5px 15px RGBa(0,0,0,0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: baseline;
}

nav ul li {
    list-style-type: none;
    padding: 0px 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--charcoal);
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--green);
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--green);
}

nav ul li a:hover::after,
nav ul li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--green);
    z-index: 1;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

header nav i {
    font-weight: 500;
    font-size: 2rem;
}

nav i.mobile,
#nav-mobile {
    display: none;
}

#nav-mobile i {
    color: var(--charcoal);
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

nav i.mobile {
    color: var(--ebony);
    font-size: 24px;
    border: 1px solid #b39ad27d;
    border-radius: 4px;
    padding: 2px 6px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}



/* HERO SECTION */

#hero {
    background-image: url(img/hero4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    background-color: var(--mauve);
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

#hero h4 {
    margin-bottom: 15px;
}

#hero button {
    border: none;
    color: var(--green);
    background-image: url(img/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
}



/* FEATURES SECTION */

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#features .feature-card {
    padding: 25px 15px;
    margin: 15px 0;
    border: 1px solid var(--pastelmint);
    border-radius: 4px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#features .feature-card:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .feature-card img {
    margin-bottom: 10px;
    width: 100%;
}

#features .feature-card h6 {
    padding: 9px 8px 6px 8px;
    color: var(--green);
    border-radius: 4px;
}

#features .feature-card:nth-child(1) h6 {background-color: var(--palepink);}
#features .feature-card:nth-child(2) h6 {background-color: var(--palegreen);}
#features .feature-card:nth-child(3) h6 {background-color: var(--paleblue);}
#features .feature-card:nth-child(4) h6 {background-color: var(--palenavy);}
#features .feature-card:nth-child(5) h6 {background-color: var(--palepurple);}
#features .feature-card:nth-child(6) h6 {background-color: var(--paleorange);}


/* FEATURED PRODUCTS */

.products .all-products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 15px;
    padding-top: 40px;
}

.products h2, 
.products h2+p {
    text-align: center;
}

.products .product-card {
    border: 1px solid var(--pastelmint);
    border-radius: 25px;
    flex-basis: 22%;
    min-width: 200px;
    padding: 10px 12px;
    position: relative;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

.products .product-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.products img {
    width: 100%;
    border-radius: 25px;
}

.products .description > * {
    margin: 7px 0px;
}

.products .product-card p {
    font-size: 1.2rem;
    color: var(--grey);
}

.products .product-card:hover h5 {
    color: var(--green);
}

.products .stars {
    position: relative;
    bottom: 3px;
}

.products .stars i {
    color: rgb(240, 177, 18);
    font-size: 1.2rem;
}

.products h4 {
    font-size: 1.5rem;
    color: var(--green);
}

.products i.fa-cart-shopping {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--cart-bg);
    color: var(--green);
    border: 1px solid var(--pastelmint);
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 12px;
}

.products i.fa-cart-shopping:hover {
    background-color: var(--green);
    color: white;
}


/* REPAIR SERVICES CALL TO ACTION */

#banner {
    background-color: var(--ebony);
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-image: url(img/banner/b2.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .text h4,
#banner .text h2 {
    text-align: center;
    color: white;
}

#banner .text h4 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

#banner .text h2 {
    font-size: 30px;
}

#banner .text h2 span {
    color: var(--tomato);
}

#banner button {
    display: block;
    margin: 15px auto 0px auto;
}


/* NEW ARRIVALS */

/* CSS code in Featured Products */


/* BANNERS 2 */

#banners-2 * {
    color: white;
}

#banners-2 #line-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banners-2 #line-1 #banner-left,
#banners-2 #line-1 #banner-right {
    padding-top: 8vw;
    padding-bottom: 8vw;
    flex-basis: 46%;
    padding-left: 30px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

#banners-2 #line-1 #banner-left {background-image: url(img/banner/b17.jpg);}
#banners-2 #line-1 #banner-right {background-image: url(img/banner/b10.jpg);}

#banners-2 #line-1 h4{
    font-size: 2.0rem;
    font-weight: 300;
}

#banners-2 #line-1 h2{
    font-size: 2.8rem;
    font-weight: 800;
}

#banners-2 #line-1 p{
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 15px;
}

#banners-2 #line-1 #banner-left:hover button,
#banners-2 #line-1 #banner-right:hover button {
    background-color: var(--green);
    border-color: var(--green);
}

#banners-2 #line-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3vw;
}

#banners-2 #line-2 #banner-1,
#banners-2 #line-2 #banner-2,
#banners-2 #line-2 #banner-3 {
    flex-basis: 29%;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 30px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

#banners-2 #line-2 #banner-1 {background-image: url(img/banner/b7.jpg);}
#banners-2 #line-2 #banner-2 {background-image: url(img/banner/b4.jpg);}
#banners-2 #line-2 #banner-3 {background-image: url(img/banner/b18.jpg);}

#banners-2 #line-2 h2 {
    font-weight: 900;
    font-size: 2.2rem;
}

#banners-2 #line-2 h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--coral);
}


/* NEWSLETTER */

#newsletter {
    background-color: var(--navy);
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: top 20% left 30%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

#newsletter h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 20px 0;
    font-weight: 600;
    color: var(--smokyblue);
}

#newsletter p span {
    color: var(--honey);
}

#newsletter form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#newsletter form input {
    padding: 15px 30px;
    font-size: 1.4rem;
    outline: none;
}

#newsletter form input[type="email"] {
    border-radius: 4px 0 0 4px;
    flex-grow: 1; 
    min-width: 400px;   
}

#newsletter form input[type="submit"] {
    font-weight: 600;
    color: white;
    background-color: var(--green);
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}


/* FOOTER */

footer #columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer #columns .column #follow {
    margin-top: 30px;
}

footer #columns .column img[alt="logo"] {
    margin-bottom: 30px;
}

footer #columns .column h4 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: var(--ebony);
}

footer #columns .column p,
footer #columns .column a {
    line-height: 1.8rem;
}

footer #columns .column p {
    font-size: 1.3rem;
    margin-bottom: 8px;
    color: var(--kaki);
}

footer #columns .column p strong {
    font-weight: 700;
}

footer #columns .column a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--ebony);
}

footer #columns .column a:hover {
    color: var(--green);
}

footer #columns .column i {
    color: var(--kaki);
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 4px;
    cursor: pointer;
}

footer #columns .column i:hover {
    color: var(--green);
}

footer #columns .column #apps img {
    float: left;
    border: 1px solid var(--green);
    border-radius: 6px;
    margin: 10px 5px 20px 0;
}

footer #columns .column img[alt="payment-cards"] {
    margin: 10px 0;
}

footer #copyright {
    text-align: center;
    font-size: 1.3rem;
    color: var(--kaki);
}



/* ============================================== */
/* MEDIA QUERIES */

@media (max-width: 1400px) {
    .products .product-card {
       flex-basis: 29%;
    }
}


@media (max-width: 992px) {
    nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        background-color: var(--mauve);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
    nav ul {
        flex-direction: column;
        margin: 80px 15px;
    }
    nav ul li {
        margin-bottom: 25px;
    }
    #nav-mobile, 
    nav i.mobile {
        display: flex;
    }
    .large-screen {
        display: none;
    }
    .section-p1 {
        padding: 40px 40px;
    }
    header {
        padding: 0 40px;
    }
    #hero {
        background-position: top 25% right 40%;
    }
    #features {
        justify-content: center;
        gap: 20px;
    }
    #features .feature-card {
        margin: 0;
    }
    .products .all-products-cards {
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    .products .product-card {
        flex-basis: 40%;
    }
    #banner {
        padding-top: 10vw;
        padding-bottom: 10vw;
    }
    #banners-2 #line-1 {
        flex-direction: column;
        row-gap: 20px;
    }
    #banners-2 #line-1 #banner-left, #banners-2 #line-1 #banner-right {
        padding-top: 15vw;
        padding-bottom: 15vw;
        flex-basis: 100%;
    }
    #banners-2 #line-2 {
        gap: 20px;
    }
    #banners-2 #line-2 #banner-1, #banners-2 #line-2 #banner-2, #banners-2 #line-2 #banner-3 {
        flex-basis: 42%;
        min-height: 150px;
    }
    #banners-2 h2 {
        line-height: 3rem;
        margin-bottom: 20px;
    }
    #banner-3 {
        margin: auto;
    }
    #newsletter form input[type="email"] {
        min-width: 280px;
    }
    footer #columns {
        justify-content: flex-start;
    }
    footer .column {
        margin-right: 70px;
    }
    footer .column:nth-child(1) {
        width: 100%;
        margin-bottom: 50px;
    }
    footer .column:nth-child(4) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    footer #copyright {
        text-align: left;
    }
}


@media (max-width: 768px) {
    #features .feature-card {
        flex-shrink: 1;
    }
    #features .feature-card {
        width: 100px;
    }
    #features .feature-card h6 {
        font-size: 1rem;
    }
}


@media (max-width: 576px) {
    .section-p1 {
        padding: 40px 20px;
    }
    header {
        padding: 0 20px;
        height: 80px;
    }
    h2 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
    h1 {
        font-size: 3.8rem;
        line-height: 5rem;
        margin-top: 10px;
    }
    p.subtitle {
        line-height: 2.5rem;
    }
    #hero {
        height: 400px;
        background-position: top 25% right 45%;
    }
    .products .all-products-cards {
        justify-content: center;
        column-gap: 15px;
        row-gap: 15px;
    }
    #banners-2 #line-2 {
        gap: 20px;
    }
}


@media (max-width: 540px) {
    #banners-2 #line-2 #banner-1, #banners-2 #line-2 #banner-2, #banners-2 #line-2 #banner-3 {
        flex-basis: 100%;
    }
}


@media (max-width: 500px) {
    .products .product-card {
        min-width: 170px;
        flex-basis: 40%;
    }
    footer #columns .column h4 {
        margin-top:  50px;
    }
    footer .column:nth-child(1) {
        margin-bottom: 0px;
    }
    footer .column:nth-child(4) {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    footer #columns .column #apps img {
        clear: left;
        margin: 5px 0;
    }
    footer #columns .column #apps img:nth-child(2) {
        margin-bottom: 20px;
    }
    #newsletter form input[type="email"] {
        min-width: 200px;
    }
    
}


@media (max-width: 450px) {
    .products .all-products-cards {
        column-gap: 20px;
        row-gap: 20px;
    }
    .products .product-card {
        flex-basis: 100%;
    }
    #newsletter #form {
        width: 100%;
    }
    #newsletter form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    #newsletter form input[type="email"] {
        border-radius: 4px;
    }
    #newsletter form input[type="submit"] {
        border-radius: 4px;
        margin: 10px auto 0;
        min-height: 44px;
        min-width: 119px;
    }
}


@media (max-width: 350px) {
    #features {
        gap: 10px;
        padding: 40px 10px;
    }
    .products .product-card {
        flex-basis: 100%;
    }
    #newsletter form input {
        padding: 10px;
    }
}


@media (max-width: 330px) {
    #hero {
        background-position: top 25% right 80%;
    }
    #nav-mobile i {
        margin-left: 10px;
    }
    #features .feature-card {
        flex-grow: 1;
        max-width: 150px;
    }
}


@media (max-width: 300px) {
    #features .feature-card {
        flex-grow: 1;
        max-width: 90px;
    }
}