@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --mauve: #E3E6F3;
    --green: #088178;
    --charcoal: #1a1a1a;
    --ebony: #222;
    --kaki: #465b52;
    --grey: #606063;
    --pastelmint: #cce7d0;
    --palepink: #fddde4;
    --palegreen: #cdebbc;
    --paleblue: #d1e8f2;
    --palenavy: #cdd4f8;
    --palepurple: #f6dbf6;
    --paleorange: #fff2e5;
    --cart-bg: #e8f6ea;
    }


/* CSS RESET */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}


/* GLOBAL SETTINGS */

html{
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}


h1 {
    font-size: 5.0rem;
    line-height: 6.4rem;
    font-weight: 700;
    color: var(--green);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    font-weight: 700;
    color: var(--ebony);
}

h4 {
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--ebony);
}

h5 {
    font-size: 1.4rem;
    color: var(--charcoal);
    font-weight: 700;
}

h6 {
    font-weight: 700;
    font-size: 1.2rem;
}

p.subtitle {
    font-size: 1.6rem;
    color: var(--kaki);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}




/* HEADER */

header {
    padding: 0px 80px;
    height: 8vh;
    background-color: var(--mauve);
    box-shadow: 0px 5px 15px RGBa(0,0,0,0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: baseline;
}

nav ul li {
    list-style-type: none;
    padding: 0px 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--charcoal);
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--green);
}
 
nav ul li a:active {
    text-decoration: underline;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--green);
}

nav ul li a:hover::after,
nav ul li a.active::after {
    content: "";
    width: 30%;
    height: 0.2rem;
    background-color: var(--green);
    z-index: 1;
    position: absolute;
    bottom: -0.4rem;
    left: 20px;
}

header nav i {
    font-size: 2rem;
}


/* HERO SECTION */

#hero {
    background-image: url(img/hero4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    background-color: var(--mauve);
    height: 92vh;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero button {
    border: none;
    color: var(--green);
    background-image: url(img/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
}



/* FEATURES SECTION */

#features {
    display: flex;
    justify-content: space-between;
}

#features .feature-card {
    padding: 25px 15px;
    border: 1px solid var(--pastelmint);
    border-radius: 4px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#features .feature-card:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .feature-card img {
    width: 150px;
    margin-bottom: 25px;
}

#features .feature-card h6 {
    padding: 9px 8px 6px 8px;
    color: var(--green);
    border-radius: 4px;
}

#features .feature-card:nth-child(1) h6 {
    background-color: var(--palepink);
}

#features .feature-card:nth-child(2) h6 {
    background-color: var(--palegreen);
}

#features .feature-card:nth-child(3) h6 {
    background-color: var(--paleblue);
}

#features .feature-card:nth-child(4) h6 {
    background-color: var(--palenavy);
}

#features .feature-card:nth-child(5) h6 {
    background-color: var(--palepurple);
}

#features .feature-card:nth-child(6) h6 {
    background-color: var(--paleorange);
}


/* FEATURED PRODUCTS */

#featured-products #all-products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#featured-products h2, 
#featured-products h2+p {
    text-align: center;
}

#featured-products .product-card {
    border: 1px solid var(--pastelmint);
    border-radius: 25px;
    flex-basis: 23%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px 12px;
    position: relative;
}

#featured-products img {
    width: 100%;
    border-radius: 25px;
}

#featured-products .description > * {
    margin: 7px 0px;
}

#featured-products .product-card p {
    font-size: 1.2rem;
    color: var(--grey);
}

#featured-products .product-card:hover h5 {
    color: var(--green);
}

#featured-products .stars {
    position: relative;
    bottom: 3px;
}

#featured-products .stars i {
    color: rgb(240, 177, 18);
    font-size: 1.2rem;
}

#featured-products h4 {
    font-size: 1.5rem;
    color: var(--green);
}

#featured-products i.fa-cart-shopping {
    font-size: 1.6rem;
    padding: 10px;
    background-color: var(--cart-bg);
    color: var(--green);
    border: 1px solid var(--pastelmint);
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 12px;
}

#featured-products i.fa-cart-shopping:hover {
    background-color: var(--green);
    color: white;
}

